nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease;
    &.scrolling{
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    ul{
        display: flex;
        list-style: none;
        li{
            margin-left: 1rem;
            a{
                color: #333;
                text-decoration: none;
                &:hover{
                    color: #007bff;
                }
            }
        }
    }
   
}